/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation,
.social {
  display: none;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
  .header-navigation,
  .social {
    display: flex;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .social {
    gap: 10px;
  }
}

/*Mobile menu*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 300ms ease, visibility 300ms ease;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 240px 64px 40px 64px;
  transform: translate(-50%, -50%);
  transition: transform 300ms ease;
  max-width: 200px;
  background-image: rgba(12, 12, 12, 0.92), url (/img/mobile-menu.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .mobile-menu-container {
    background-image: rgba(12, 12, 12, 0.92), url (/img/mobile-menu @2x.webp);
  }
}

.mobile-close-button {
  position: absolute;
  top: 28px;
  right: 28px;
  background-color: transparent;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fbfbfb;
  border: none;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 24px;
}

.mobile-social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icons-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  opacity: 0.8;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navigation-link.current {
  position: relative;
}

.navigation-link.current::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: -1px;
  border-radius: 100%;
  fill: #3350e9;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    max-width: 330px;
  }

  .mobile-menu-container {
    max-width: 330px;
  }

  @media screen and (min-width: 768px) {
    .mobile-menu-container {
      background-image: rgba(12, 12, 12, 0.92),
        url(/img/mobile-menu_tablet.webp);
      max-width: 768px;
    }
    @media screen and (min-resolution: 192dpi), {
      .mobile-menu-container {
        background-image: rgba(12, 12, 12, 0.92),
          url(/img/mobile-menu_tablet@2x.webp);
      }
    }
  }

  .mobile-close-button {
    top: 26px;
    right: 32px;
    stroke-width: 3px;
  }

  .mobile-navigation-list {
    gap: 32px;
  }

  .mobile-social {
    margin-bottom: 50px;
  }

  .social-icons-link {
    width: 36px;
    height: 36px;
  }
}
